.contenedor {
    justify-items: center;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    max-width: 88% !important;
    background: whitesmoke !important;
    border-radius: 20px; box-shadow: 8px 8px;
    box-shadow: 8px 8px;

}

body {
    padding-left: 12%;
    padding-right: 5%;
    padding-top: 2%;
    width: 100%;
    background-color:#2d572c !important;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(0, 0, 0) !important;
    margin: 1%;
}

.card-header {
    text-align: center !important ;
    margin: auto;
    background: -moz-radial-gradient(center, ellipse cover,rgba(145,232,66,1) 0%, rgba(60,179,113,1) 100%);
  
}

.header-responsive {
    width:auto;
    height: auto;
}

.img-responsive {
    display: inline-block;
    padding-top: 3%;
    width: 15%;
    height: 15%;
  
}

img {
    display: inline-block;
    width: 70%;
    padding-left: 5%;
    padding-right: 5%;
}

.logo-responsive {
    padding-top: 3%;
    width: 15%;
    height: 15%;
   
}


.mensaje {
    margin-block: 60px;
    height: auto; 
    text-align: center;
}



.float-right {
    float: center;
}

footer{
    padding-top: 4%;
    text-align: center;
    padding-right: 4%;
    color: #A9F5A9;
}

h1{
    color: #2d572c !important;
} 

h2 {
    color:black;
}

p {
    color: #A9F5A9;
    font-size:200px;
    text-align: center;
    display: inline;
}


         
      