.clasificacion input[type='radio'] {
    opacity: 0;
}

.clasificacion label {
    font-size: 30px;
    color: rgb(150, 150, 150);
    cursor: pointer;
}

.zoom {
    padding: 50px;
    background-color: inherit;
    transition: transform .2s;
    /* Animation */
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.5);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.contenedor {
    justify-items: center;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    max-width: 88% !important;
    background: whitesmoke 70% !important;
    border-radius: 20px; box-shadow: 8px 8px;
    box-shadow: 8px 8px;

}

body {
    padding-left: 12%;
    padding-right: 5%;
    padding-top: 2%;
    width: 100%;
    background-color:#2d572c !important;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(0, 0, 0) !important;
    margin: 1%;
}

.card-header {
    text-align: center !important ;
    margin: auto;
    background: -moz-radial-gradient(center, ellipse cover,rgba(145,232,66,1) 0%, rgba(60,179,113,1) 100%);
  
}

.header-responsive {
    width:auto;
    height: auto;
}

.img-responsive {
    display: inline-block;
    padding-top: 3%;
    width: 25%;
    height: 25% !important;
  
}

img {
    display: inline-block;
    padding-left: 3%;
    padding-right: 3%;
}

.logo-responsive {
    padding-top: 3%;
    width: 1% !important;
    height: 1% !important;
   
}

p {
    text-align: right;
    color: white;
}

.mensaje {
    margin-block: 60px;
    height: auto; 
    text-align: center;
}

.boton {
    display: inline-block;
    padding: 20px;
    margin: 10px;
    padding-top: 20%;
}

.btn-pri,
.btn-pri.disabled {
    background: linear-gradient(#A9F5A9, #F7D358);
}

.btn-pri:hover,
.btn-pri.disabled:hover {
    opacity: 0.9;
    background: #A9F5A9 ;
}

.btn-lg {
    padding: 0.4rem 2rem;
    font-size: 1.3rem;
}

.btn-rounder {
    border-radius: 120px;
    padding: 7px 18px;
}

.float-right {
    float: center;
}

footer{
    padding-top: 4%;
    text-align: center;
    padding-right: 5%;
    color: #A9F5A9;
}

h2 {
    color:black;
}

h4{
    color: #2d572c !important;
} 