.contenedor {
    justify-items: center;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    max-width: 88% !important;
 /*    max-height:90%!important;  */
/*     align-content: center; */

background: linear-gradient(#86c185 20%, whitesmoke 80%)!important;
    box-shadow: 5px -5px 0 2px #444 inset;

}

body {
    padding-left: 12%;
    padding-right: 5%;
    padding-top: 2%;
    width: 100%;

    background-color:#2d572c !important;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(0, 0, 0) !important;
    margin: 1%;
  /*   height: 60% !important; */
}

.header {
    /* background-color:#86c185; */
    border-radius: 12px;
 /*    padding-top: 4%; */
   /*  max-width: 100% !important; */
    color: black !important;
    text-align: right;
/*  height: 10%; */
    width: 910px !important;
    padding-top: 1%;
 
/*     margin: 1px; */
}

.img-responsive {
    padding-top: 3%;
    width: 5%;
    height: 5%;
}

img {
    width: 130%;
    padding-left: 10%;
    padding-right: 10%;
}

.logo-responsive {
    padding-top: 3%;
    width: 15%;
    height: 15%;
}

p {
    text-align: center;
    color: white;
}

.mensaje {
    margin-block: 60px;
    height: 850px; 
    text-align: center;
}

.boton {
    display: inline-block;
    padding: 20px;
    margin: 10px;
}

.btn-pri,
.btn-pri.disabled {
    background: linear-gradient(#A9F5A9, #F7D358);
}

.btn-pri:hover,
.btn-pri.disabled:hover {
    opacity: 0.9;
    background: #A9F5A9 ;
}

.btn-lg {
    padding: 0.4rem 2rem;
    font-size: 1.3rem;
}

.btn-rounder {
    border-radius: 120px;
    padding: 7px 18px;
}

.float-right {
    float: center;
}

footer {
    padding-top: 4%;
    text-align: center;
    color: #A9F5A9;
}